.DS_Store
*.log
tradingHolidays.csv
*.pyc
/blankNifty500Tables
dasConfig_cust.json
/lookupTables
dasConfig_template.json
backupJobTweak.txt
/backupFailedTables
backupMonotir.jpg
cleanDBRows.py
Logs/backupLogAnalyzer.py
/Logs
/zerodhaInstrumentDumps
