*.log
tradingHolidays.csv
dasConfig.json
*.pyc
lookupTables/nifty500TokenList.csv
lookupTables/nifty500TokenTable.npy
lookupTables/indexTokenList.csv
lookupTables/bankNiftyOptionsTokenList.csv
lookupTables/bankNiftyOptionsTokenTable.npy
lookupTables/niftyOptionsTokenTable.npy
lookupTables/niftyOptionsTokenList.csv
lookupTables/zerodhaInstrumentDump.csv
